{% extends "base.html" %}
{% block content %}
<h1>Liste des tables</h1>

<button onclick="addNewTable()">Ajouter une nouvelle table</button>
<!-- 清空所有订单的按钮 -->
<button onclick="showCustomConfirm()">Vider toutes les commandes</button>

<!-- 自定义确认弹窗 -->
<div id="customConfirm" style="display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); border: 1px solid black; background-color: white; padding: 20px; z-index: 100;">
    <p style="text-align: center; font-weight: bold;">
        Are you sure you want to clear all orders? This will delete all order data.
    </p>
    <p style="text-align: center;">
        Êtes-vous sûr de vouloir vider toutes les commandes ? Cela supprimera toutes les données des commandes.
    </p>
    <p style="text-align: center;">
        确定要清空所有订单吗？这将删除所有订单的数据。
    </p>
    <div style="text-align: center; margin-top: 20px;">
        <button onclick="clearOrders()">Confirm</button>
        <button onclick="hideCustomConfirm()">Cancel</button>
    </div>
</div>

<script>
function addNewTable() {
    // 发送一个请求到后端以添加新桌子
    fetch('{% url "add_table" %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'action': 'add' }) // 可以发送更多信息，如果你的表中有其他字段
    })
    .then(response => response.json())
    .then(data => {
        if(data.success){
            window.location.reload(); // 如果添加成功，重新加载页面
        } else {
            alert("添加桌子失败");
        }
    });
}

function showCustomConfirm() {
    document.getElementById("customConfirm").style.display = "block";
}

function hideCustomConfirm() {
    document.getElementById("customConfirm").style.display = "none";
}

function clearOrders() {
    fetch('{% url "clear_all_orders" %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if(data.success){
            alert("所有订单已清空");
            window.location.reload(); // 清空成功后，重新加载页面
        } else {
            alert("清空失败");
        }
    });

    hideCustomConfirm();  // 关闭确认弹窗
}

</script>

{% if tables %}
    <ul>
    {% for table in tables %}
        <li>
            Numéro de table: {{ table.id }}
            {% if table.active %}
                <a href="{% url 'order_detail' %}?table_id={{ table.id }}">Voir la commande: {{table.active}}</a>
            {% else %}
                <a href="{% url 'add_order_item' %}?table_id={{ table.id }}">Créer une nouvelle commande</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Il n'y a pas de tables pour le moment, veuillez en ajouter.</p>
{% endif %}
{% endblock %}
