
{% extends "base.html" %}
{% block content %}
<h1>Liste des tables</h1>

<button onclick="addNewTable()">Ajouter une nouvelle table</button>
<!-- 清空所有订单的按钮 -->
<button onclick="confirmClearOrders()">Vider toutes les commandes</button>

<script>
function addNewTable() {
    // 发送一个请求到后端以添加新桌子
    fetch('{% url "add_table" %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'action': 'add' }) // 可以发送更多信息，如果你的表中有其他字段
    })
    .then(response => response.json())
    .then(data => {
        if(data.success){
            window.location.reload(); // 如果添加成功，重新加载页面
        } else {
            alert("添加桌子失败");
        }
    });
}

function confirmClearOrders() {

}
</script>

{% if tables %}
    <ul>
    {% for table in tables %}
        <li>
            Numéro de table: {{ table.id }}
            {% if table.active %}
                <a href="{% url 'order_detail' %}?table_id={{ table.id }}">Voir la commande: {{table.active}}</a>
            {% else %}
                <a href="{% url 'add_order_item' %}?table_id={{ table.id }}">Créer une nouvelle commande</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Il n'y a pas de tables pour le moment, veuillez en ajouter.</p>
{% endif %}

<script>
function confirmClearOrders() {
    if (confirm("Êtes-vous sûr de vouloir vider toutes les commandes ? Cela supprimera toutes les données des commandes.")) {
        
    }
}
</script>
{% endblock %}